<!--
	Copyright 2013 Michael Gruben, Julian Babics, Benjamin Merkle

This file is part of Masterly Mate.

Masterly Mate is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at
your option) any later version.

Masterly Mate is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Masterly Mate.  If not, see <http://www.gnu.org/licenses/>.

Diese Datei ist Teil von Masterly Mate.

Masterly Mate ist Freie Software: Sie können es unter den Bedingungen
der GNU Affero General Public License, wie von der Free Software
Foundation, Version 3 der Lizenz oder (nach Ihrer Option) jeder späteren
veröffentlichten Version, weiterverbreiten und/oder modifizieren.

Masterly Mate wird in der Hoffnung, dass es nützlich sein wird, aber
OHNE JEDE GEWÄHELEISTUNG, bereitgestellt; sogar ohne die implizite
Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN
ZWECK.
Siehe die GNU Affero General Public License für weitere Details.

Sie sollten eine Kopie der GNU Affero General Public License zusammen
mit Masterly Mate erhalten haben. Wenn nicht, siehe
<http://www.gnu.org/licenses/>.
-->

<%
hideCancelButton ||= false
%>

<%= form_for(modelInstance) do |f| %>

  <%= validateFieldsOf(modelInstance) %>
  <% writeProtected ||= false %>
  
  <table cellspacing="0" cellpadding="2" border="0">
  <% modelAttributes.each do |attribute| %>
  	<tr>
  		<td><%= f.label attribute %><%=  %></td>
  		<td>
  		<% if [:sex].include? attribute %>
  			<%= f.radio_button attribute, false, readonly: writeProtected, disabled: writeProtected %>
  			<%= t("activerecord.attributes.user.gender.male") %>
  			<%= f.radio_button attribute, true, readonly: writeProtected, disabled: writeProtected %>
  			<%= t("activerecord.attributes.user.gender.female") %>
  		<% elsif modelInstance.column_for_attribute(attribute) and ["date", "datetime", "time"].include? modelInstance.column_for_attribute(attribute).type.to_s %>
  			<%= f.date_select attribute, readonly: writeProtected, disabled: writeProtected, start_year: Time.now.year - 120, end_year: Time.now.year - 14, include_blank: true %>
  		<% elsif modelInstance.column_for_attribute(attribute) and ["binary"].include? modelInstance.column_for_attribute(attribute).type.to_s %>
  			<%= f.file_field attribute, readonly: writeProtected, disabled: writeProtected %>
  		<% else %>
    		<%= f.text_field attribute, readonly: writeProtected, disabled: writeProtected %>
    	<% end %>
    	</td>
  	</tr>
  <% end %>
  </table>
  
  <% if !writeProtected %>
  	<br />
  	<% if defined?(submitButtonLabel) %>
    	<%= f.submit submitButtonLabel %>
    <% else %>
    	<%= f.submit %>
    <% end %>
    <% if !hideCancelButton %>
    	<%= link_to content_tag(:span, t("record.update.cancel"), class: "button"), modelInstance %>
    <% end %>
  <% end %>
  
<% end %>
