<!DOCTYPE html>
<html>
<head>
  <title>MasterlyMate - Administrator</title>
  <%= stylesheet_link_tag "backend" %>
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
  <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
  <script src="/assets/jquery-ui.js?body=1" type="text/javascript"></script>
  <script src="/assets/application.js?body=1" type="text/javascript"></script>
  <%= javascript_include_tag "backend" %>
  <%= ensureSecurity %>
</head>
<body>
	<%= render partial: "shared/flash_message" %>
	<%= yield %>
</body>
</html>
