<!DOCTYPE html>
<html>
<head>
  <title>MasterlyMate - Administrator</title>
  <%= stylesheet_link_tag "backend" %>
  <%= javascript_include_tag "backend" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% elsif flash[:error] %>
	<div class="error">
		<%= flash[:error] %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
